<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf app</title>
</head>
<body>
<h1 th:text="#{contact.list.title}">Contact list</h1>

<a th:href="@{/createContact}">Create</a>
<table>
    <thead>
    <tr>
        <!--// forced for any translation keys you have created-->
        <!-- # is for specific system fields, for custom errors-->
        <th th:text="#{contact.name}">Name</th>
        <th th:text="#{contact.lastname}">Last name</th>
        <th th:text="#{contact.description}">Description</th>
        <th th:text="#{contact.status}">Status</th>
        <th>*</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact: ${contacts}">
        <td th:text="${contact.name}"></td>
        <td th:text="${contact.lastName}"></td>
        <td th:text="${contact.description}"></td>

        <!--// dynamic translation using ENUM-->
        <!-- accessing the variable using the $ symbol.-->
        <!-- this replaces the previous switch statement-->
        <td th:text="#{'contact.status.value.'+ ${contact.status.name()}}">Divorced status</td>
        <td>
            <a th:href="@{/view(id=${contact.id})}">View</a>
            <a th:href="@{/editContact/{id}(id=${contact.id})}">Edit</a>
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>